<html>
<head>
    <title>Upload Page</title>
</head>
<body>
    <h1>
        Challenge 2 - Image Frame
    </h1>

    <p>This application provides 4 endpoints</p>

    <a
        href="/"
    >
        Home Page Endpoint - Current page
    </a>

    <br/>
    <br/>

    <a
        href="/default"
    >
        Default Endpoint - Read AIQ - Backend Engineer Assignment - Data csv file and convert to image frames
    </a>
    <br/>
    <br/>

    <a
        href="/upload-page"
    >
        Upload Page Endpoint - Allow csv upload and colormap select and transform the csv file to image
    </a>
    <br/>
    <br/>

    <p>
        Upload Post Endpoint - To handle csv upload
    </p>

</body>
</html>